<h1>Admin view</h1>
<table>
	<tr><th>ID</th><th>Organization</th><th>Assignment</th><th>Repository</th><th>Commit</th><th>Status</th><th>Output</th></tr>
	<% grades.each do |grade| %>
	<tr>
		<td><%= grade.id %></td>
		<td><%= grade.organization %></td>
		<td><%= grade.assignment %></td>
		<td><%= grade.repository %></td>
		<td><a href="https://github.com/<%= grade.organization %>/<%= grade.repository %>/commit/<%= grade.commit %>"><%= grade.commit[0,7] %></a></td>
		<td><%= case grade.status; when 'S'; 'Success'; when 'E'; 'Error'; when 'F'; 'Failure'; else; grade.status; end %></td>
		<td><a href="/output/<%= grade.id %>">[output]</a></td>
	</tr>
	<% end %>
</table>
